/*
=============== 
Root
===============
*/

:root {
  font-size: 10px;
  --title-font: "Kaisei Decol", serif;
  --text-font: "Zen Kurenaido", sans-serif;
  --my-font: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN",
    "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
  --clr-black: #222222;
  --clr-gray: #6c6c6c;
  --clr-white: #fff;
  --clr-primary-01: rgba(117, 159, 238, 0.57);
  --clr-primary-01-02: rgba(117, 159, 238, 0.3);
  --clr-primary-02: #7daaff;
  --clr-primary-03: #5c8fed;
  --clr-accent-01: #e1644d;
  --clr-btn: #d6d6d6;
  --clr-btn-02: #b3b3b3;
  --transition: all 0.3s linear;
  --h1-right: 137px;
  --slideR-width: 180px;
  --slideR-height: 400px;
  --slideR-right: -140px;
  --shadowR: -10px 15px 10px rgba(0, 0, 0, 0.2);
  --shadowL: 10px 15px 10px rgba(0, 0, 0, 0.2);
  --shadowB: 10px -15px 10px rgba(0, 0, 0, 0.2);
}

/*
=============== 
Reset
===============
*/
/* * {
  margin: 0;
  padding: 0;
  list-style: none;
} */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/*
=============== 
common parts
===============
*/

/* 
@media (max-height: 600px) {
  html,
  body {
    overflow-x: visible;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
  }
} */

body {
  font-family: var(--my-font);
  font-size: 16px;
  color: var(--clr-black);
}

.contents {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: scroll;
}

.contents.sp {
  display: flex;
  flex-direction: row-reverse;
}

.section {
  height: 100%;
}
.image-container {
  height: 100%;
  position: relative;
  /* aspect-ratio: 16/9; */
}

.off {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
img,
.mainimage {
  height: 100%;
  /* width: 2000px; */
}
/* firefoxでheight100%にすると余白ができる不具合を修正 */
@-moz-document url-prefix() {
  img,
  .mainimage {
    height: auto;
  }
}

.sp {
  display: block;
}

.pc {
  display: none;
}

.btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

/* @media (min-height: 600px) {
  .sp {
    display: none;
  }

  .pc {
    display: block;
  }
} */
.lazyload {
  opacity: 0;
}

.loading.lazyloading {
  opacity: 0.3;
  transition: opacity 300ms;
  background: #f7f7f7 url(../images/loading.gif) no-repeat center;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 1s;
}
