/*
=============== 
ekotoba
===============
*/
@media (max-height: 375px) {
  .section.ekotoba h3 {
    font-size: 2.5rem;
  }
  .section.ekotoba .kobun-text p {
    font-size: 2.3rem;
  }
  .section.ekotoba .translate-text p {
    font-size: 2.3rem;
  }
  .header {
    display: none;
  }
}
@media (min-height: 376px) {
  .section.ekotoba h3 {
    font-size: 3.5rem;
  }
  .section.ekotoba .kobun-text p {
    font-size: 3.5rem;
  }
  .section.ekotoba .translate-text p {
    font-size: 3.5rem;
  }
}
@media (min-height: 800px) {
  .header {
    display: flex;
  }
}

.section.ekotoba {
  writing-mode: vertical-rl;
  /* background-image: url(/img/110310200304.png); */
}
.section.ekotoba {
  position: relative;
}
.section.ekotoba h3 {
  margin: 0 2rem;
  font-family: "Kaisei Decol", serif;
  font-weight: 500;
  color: #4a4f9f;
}
.section.ekotoba .minus-icon {
  display: none;
}
.section.ekotoba .kobun-text {
  position: relative;
  margin: 4rem 0 3rem 2rem;
}
.section.ekotoba .kobun-text p {
  font-family: "Zen Kurenaido", sans-serif;
}
.section.ekotoba .translate {
  position: absolute;
  bottom: 0;
  left: 1em;
}
.section.ekotoba .translate-text {
  display: none;
  opacity: 0.6;
  max-width: 0;
  transition: var(--transition);
  overflow: hidden;
}

.section.ekotoba.show-text .translate-text {
  display: block;
  opacity: 1;
  max-width: 100%;
}
.section.ekotoba .translate-text p {
  font-family: "Zen Kurenaido", sans-serif;
  margin: 4rem 0 3rem 2rem;
}
.section.ekotoba .translate-btn {
  color: var(--clr-gray);
  font-size: 2rem;
  transition: var(--transition);
}
.section.ekotoba .translate-btn:hover {
  opacity: 0.6;
}
.section.ekotoba.show-text .minus-icon {
  display: block;
}
.section.ekotoba.show-text .plus-icon {
  display: none;
}

.word {
  cursor: pointer;
  transition: var(--transition);
  color: var(--clr-primary-02);
}
/*
=============== 
Toggle text
===============
*/
.header-ekotoba {
  position: fixed;
  top: 0.5rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  color: var(--clr-btn);
  transition: var(--transition);
  cursor: pointer;
  writing-mode: horizontal-tb;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  z-index: 99;
}
