@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

:root {
  --transition: all 0.3s linear;
}

.btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.section.ekotoba {
  writing-mode: vertical-rl;
  background-image: url(/img/110310200304.png);
}
.section.ekotoba {
  position: relative;
}
.section.ekotoba .minus-icon {
  display: none;
}
.section.ekotoba .kobun-text {
  position: relative;
  padding: 2rem;
}
.section.ekotoba .kobun-text p {
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 35px;
}
.section.ekotoba .translate {
  position: absolute;
  bottom: 0;
  left: 1em;
}
.section.ekotoba .translate-text {
  display: none;
  opacity: 0.6;
  max-width: 0;
  transition: var(--transition);
  overflow: hidden;
}
.section.ekotoba.show-text .translate-text {
  display: block;
  opacity: 1;
  max-width: 100%;
}
.section.ekotoba .translate-text p {
  font-family: "Zen Kurenaido", sans-serif;
  padding: 2rem;
  font-size: 2.2rem;
}
.section.ekotoba .translate-btn {
  color: #d6d6d6;
}
.section.ekotoba.show-text .minus-icon {
  display: block;
}
.section.ekotoba.show-text .plus-icon {
  display: none;
}
