/*
=============== 
ekotoba
===============
*/
.contents h3 {
  font-family: var(--title-font);
}
.contents p {
  font-family: var(--text-font);
}

.section.ekotoba h3 {
  font-size: var(--title-size)
}
.section.ekotoba .kobun-text p {
  font-size: var(--text-size);
  /* font-size: calc([最小値] + ([最大値] - [最小値]) * ((100vw - [最小画面幅]) / ([最大画面幅] - [最小画面幅]))); */
}
.section.ekotoba .translate-text p {
  font-size: calc(16px + (35 - 16) * ((100vh - 375px) / (1080 - 375)));
}
.header {
  display: none;
}

@media (min-height: 800px) {
  .header {
    display: flex;
  }
}

.section.ekotoba {
  writing-mode: vertical-rl;
  z-index: 1;
}
.section.ekotoba {
  position: relative;
}
/* .section.ekotoba::after{
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.6;
}
.section.ekotoba > *{
  z-index: 3;
} */
.section.ekotoba h3 {
  margin: 0 2rem;
  font-weight: 500;
  color: #4a4f9f;
}
.section.ekotoba .minus-icon {
  display: none;
}
.section.ekotoba .kobun-text {
  position: relative;
  margin: 4rem 0 3rem 2rem;
}
.section.ekotoba .translate {
  position: absolute;
  bottom: 0;
  left: 1em;
}
.section.ekotoba .translate-text {
  display: none;
  opacity: 0.6;
  max-width: 0;
  transition: var(--transition);
  overflow: hidden;
}

.section.ekotoba.show-text .translate-text {
  display: block;
  opacity: 1;
  max-width: 100%;
}
.section.ekotoba .translate-text p {
  margin: 4rem 0 3rem 2rem;
}
.section.ekotoba .translate-btn {
  color: var(--clr-gray);
  font-size: 2rem;
  transition: var(--transition);
}
.section.ekotoba .translate-btn:hover {
  opacity: 0.6;
}
.section.ekotoba.show-text .minus-icon {
  display: block;
}
.section.ekotoba.show-text .plus-icon {
  display: none;
}

.word {
  cursor: pointer;
  transition: var(--transition);
  color: var(--clr-primary-02);
}
/*
=============== 
Toggle text
===============
*/
.header-ekotoba {
  position: fixed;
  top: 0.5rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  color: var(--clr-btn);
  transition: var(--transition);
  cursor: pointer;
  writing-mode: horizontal-tb;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  z-index: 99;
}
