/*
=============== 
header/footer
===============
*/

.header,
.footer {
  writing-mode: horizontal-tb;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 10;
}

.header {
  top: 6px;
  justify-content: center;
  column-gap: 5px;
}
.header span,
.header a {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  display: grid;
  place-content: center;
  transition: var(--transition);
  background: var(--clr-primary-01-02);
  padding: 4px;
  color: var(--clr-gray);
  cursor: pointer;
}
.renzokusiki .toggle-icon,
.renzokusiki .toggle-text-icon,
.renzokusiki .toggle-text-icon {
  display: none;
}

/* {
  display: none;
} */
.header i {
  font-size: 21px;
  transition: var(--transition);
}
.header .toggle-icon:hover,
.header a:hover {
  opacity: 0.6;
}

.header .toggle-text {
  writing-mode: horizontal-tb;
  display: flex;
}
.header.toggle-text .active-color {
  color: var(--clr-btn-02);
}
.header .toggle-text .toggle-text-btn {
  color: var(--clr-btn);
}
.header .toggle-text p {
  font-size: 1.5rem;
}
.header .toggle-text .toggle-icon i {
  transition: var(--transition);
}
.rotate {
  transform: rotate(90deg);
}

.footer {
  bottom: 0;
}

.footer_copy {
  text-align: center;
  font-size: 12px;
  color: var(--clr-gray);
}
.contents.sp {
  display: none;
}
.contents.pc {
  display: flex;
  flex-direction: row-reverse;
  transition: var(--transition);
}
.animateContentsPc {
  height: 72vh;
}

/* 
.slideR {
  z-index: 99;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: var(--slideR-right);
  background: var(--clr-primary-01);
  width: var(--slideR-width);
  height: var(--slideR-height);
  writing-mode: vertical-rl;
}
.animateSlideR {
  margin-right: 140px;
}
.slideR h1 {
  position: absolute;
  right: var(--h1-right);
  top: 20px;
  transition: var(--transition);
  font-family: var(--title-font);
  font-weight: 400;
}
.slideR h1:hover {
  color: var(--clr-accent-01);
}

.slideR ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  margin-right: 10px;
}

.slideR ul li {
  font-family: var(--text-font);
}

.slideR a {
  transition: var(--transition);
}
.slideR a:hover {
  color: var(--clr-accent-01);
}
 */

/*
=============== 
Sidebar
===============
*/
.sidebar-open-btn,
.sidebar-close-btn {
  font-size: 3rem;
  background: transparent;
  border-color: transparent;
  color: #444444;
  transition: var(--transition);
  cursor: pointer;
}
.sidebar-open-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}
.sidebar {
  display: none;
  writing-mode: horizontal-tb;
  padding: 2rem;
  position: absolute;
  z-index: 99;
  overflow: scroll;
}

/* sidebarR */
.sidebarR .mokuji-title {
  margin-bottom: 2rem;
}
.sidebarR .mokuji-title h4 {
  color: var(--clr-bcg);
  font-size: var(--mokuji-size);
}
.sidebarR .mokuji li a {
  font-family: var(--text-font);
  transition: var(--transition);
  color: var(--clr-bcg);
  font-size: var(--mokuji-size);
}
.sidebarR .sidebar-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.sidebarR {
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  box-shadow: var(--shadowR);
  background: white;
}
/* sidebarL */
.sidebarL {
  bottom: 0;
  height: 40%;
  width: 100%;
  background: white;
  text-align: right;
  box-shadow: var(--shadowB);
}
.translate-sidebar.sidebarR,
.translate-sidebar.sidebarL {
  display: block;
}
.sidebarL-word-box {
  font-size: 2rem;
  text-align: left;
}
.sidebarL h4 {
  color: var(--clr-font);
  font-weight: 400;
}
@media (min-width: 768px) {
  .sidebar {
    width: 400px;
  }
  .sidebarL {
    left: 0;
    top: 0%;
    height: 100%;
    background: rgb(155, 136, 155);
    text-align: right;
    box-shadow: var(--shadowL);
  }
}

/*
=============== 
slider-Bottom
===============
*/

.slideB {
  z-index: 100;
  position: fixed;
  right: 0;
  bottom: -30%;
  height: 30%;
  /* box-shadow: 10px -5px 20px #9f9c9c; */
  writing-mode: vertical-rl;
  transition: var(--transition);
}
.animateSlideB {
  bottom: 0%;
}

.slideB .slide-innerB {
  position: relative;
  overflow: auto;
  background-color: var(--clr-black);
  background-image: url(../img/washi_green.jpg);
}

.slideB .slide-innerB section {
  padding: 20px;
}
.slideB .slide-innerB section h2,
.slideB .slide-innerB section h3 {
  font-weight: 400;
  margin-left: 20px;
}
.slideB .slide-innerB section p {
  margin-left: 20px;
  text-orientation: upright;
}

.slideB .slide-innerB section .title {
  margin-left: 0;
}
.slideB .slide-innerB section .edition {
  text-align: end;
}

/* 
.slideB .slide-innerB section p {
  font-weight: bold;
}

.slideB .slide-innerB section p a {
  color: red;
}

.slideB .slide-innerB a:hover {
  color: red;
  opacity: 1.2;
} */

.red {
  color: red;
}

.sliderbox {
  border: 2px solid red;
  overflow: hidden;
  height: 100vh;
}

.bgimg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image2-container img {
  filter: brightness(0.8);
}
svg {
  z-index: 2;
  position: absolute;
}
svg > * {
  cursor: pointer;
  transition: var(--transition);
  opacity: 0.6;
}
svg > *:hover {
  opacity: 0.4;
}

.modal-wrapper {
  position: fixed;
  inset: 0px;
  z-index: 1000;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
}
.modal-container {
  position: fixed;
  inset: 0px;
  background: white;
  border-radius: 0.5rem;
  width: 90vw;
  height: 60vh;
  max-width: 900px;
  position: relative;
  display: grid;
  place-items: center;
}
.modal-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
  transition: var(--transition);
}
.open-modal {
  visibility: visible;
  z-index: 10;
}
.modal-overlay {
  position: fixed;
  inset: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.72);
}
.modal-box {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 70vw;
  gap: 2rem;
  max-width: 800px;
}
.modal-box h3 {
  grid-area: 1 / 1 / auto / span 2;
  justify-self: center;
  font-family: "Kaisei Decol", serif;
  font-size: 3rem;
}
.modal-box img {
  grid-area: 2 /1 / span1/span1;
  height: auto;
  align-self: center;
}
.modal-box p {
  grid-area: 2 /2;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 2rem;
}
