/*
=============== 
header/footer
===============
*/

.header,
.footer {
  writing-mode: horizontal-tb;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 2;
}

.header {
  top: 6px;
  /* display: flex; */
  justify-content: center;
  column-gap: 5px;
}
.header .pen-icon,
.header .toggle-icon,
.header a {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  display: grid;
  place-content: center;
  transition: var(--transition);
  background: var(--clr-primary-01-02);
  padding: 4px;
  color: var(--clr-gray);
  cursor: pointer;
}
.header .toggle-icon .fa-plus {
  display: block;
}
.header .toggle-icon .fa-minus {
  display: none;
}
.header .open-text.toggle-icon .fa-plus {
  display: none;
}
.header .open-text.toggle-icon .fa-minus {
  display: block;
}
.header i {
  font-size: 21px;
  transition: var(--transition);
}
.header .toggle-icon:hover,
.header a:hover {
  opacity: 0.6;
}

.header .toggle-text {
  writing-mode: horizontal-tb;
  display: flex;
}
.header.toggle-text .active-color {
  color: var(--clr-btn-02);
}
.header .toggle-text .toggle-text-btn {
  color: var(--clr-btn);
}
.header .toggle-text p {
  font-size: 1.5rem;
}
.header .toggle-text .toggle-icon i {
  transition: var(--transition);
}
.rotate {
  transform: rotate(90deg);
}

.footer {
  bottom: 0;
}

.footer_copy {
  text-align: center;
  font-size: 12px;
  color: var(--clr-gray);
}
.contents.sp {
  display: none;
}
.contents.pc {
  display: flex;
  flex-direction: row-reverse;
  transition: var(--transition);
}
.animateContentsPc {
  height: 72vh;
}
.header.pc {
  display: flex;
}

/* 
.slideR {
  z-index: 99;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: var(--slideR-right);
  background: var(--clr-primary-01);
  width: var(--slideR-width);
  height: var(--slideR-height);
  writing-mode: vertical-rl;
}
.animateSlideR {
  margin-right: 140px;
}
.slideR h1 {
  position: absolute;
  right: var(--h1-right);
  top: 20px;
  transition: var(--transition);
  font-family: var(--title-font);
  font-weight: 400;
}
.slideR h1:hover {
  color: var(--clr-accent-01);
}

.slideR ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  margin-right: 10px;
}

.slideR ul li {
  font-family: var(--text-font);
}

.slideR a {
  transition: var(--transition);
}
.slideR a:hover {
  color: var(--clr-accent-01);
}
 */

/*
=============== 
Sidebar
===============
*/
.sidebar-open-btn,
.sidebar-close-btn {
  font-size: 3rem;
  background: transparent;
  border-color: transparent;
  color: #d6d6d6;
  transition: var(--transition);
  cursor: pointer;
}
.sidebar-open-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}
.sidebar {
  display: none;
  writing-mode: horizontal-tb;
  padding: 2rem;
  position: absolute;
  z-index: 99;
}
.translate-sidebar.sidebar {
  display: block;
}
/* sidebarR */
.sidebarR h4 {
  color: var(--clr-bcg);
}
.sidebarR .mokuji-title {
  margin-bottom: 2rem;
}
.sidebar .mokuji {
  font-size: 2rem;
  color: var(--clr-black);
}
.sidebarR .mokuji li a {
  transition: var(--transition);
  color: var(--clr-bcg);
}
.sidebarR .sidebar-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.sidebarR {
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  background: plum;
}
/* sidebarL */
.sidebarL {
  bottom: 0;
  height: 40%;
  width: 100%;
  background: plum;
  text-align: right;
}
.sidebarL-word-box {
  text-align: left;
}
.sidebarL .sidebar-close-btn {
  color: #fff;
}
.sidebarL h4 {
  color: var(--clr-font);
  font-weight: 400;
}
@media (min-width: 768px) {
  .sidebar {
    width: 400px;
  }
  .sidebarL {
    left: 0;
    top: 0%;
    height: 100%;
    background: rgb(155, 136, 155);
    text-align: right;
  }
}

/*
=============== 
slider-Bottom
===============
*/

.slideB {
  z-index: 100;
  position: fixed;
  right: 0;
  bottom: -30%;
  height: 30%;
  /* box-shadow: 10px -5px 20px #9f9c9c; */
  writing-mode: vertical-rl;
  transition: var(--transition);
}
.animateSlideB {
  bottom: 0%;
}

.slideB .slide-innerB {
  position: relative;
  overflow: auto;
  background-color: var(--clr-black);
  background-image: url(../img/washi_green.jpg);
}

.slideB .slide-innerB section {
  padding: 20px;
}
.slideB .slide-innerB section h2,
.slideB .slide-innerB section h3 {
  font-family: var(--title-font);
  font-weight: 400;
  margin-left: 20px;
}
.slideB .slide-innerB section h3 {
  transition: var(--transition);
}

.slideB .slide-innerB section h3:hover {
  color: var(--clr-accent-01);
}
.slideB .slide-innerB section .title {
  margin-left: 0;
}
.slideB .slide-innerB section .edition {
  text-align: end;
}

/* 
.slideB .slide-innerB section p {
  font-weight: bold;
}

.slideB .slide-innerB section p a {
  color: red;
}

.slideB .slide-innerB a:hover {
  color: red;
  opacity: 1.2;
} */

.red {
  color: red;
}

.sliderbox {
  border: 2px solid red;
  overflow: hidden;
  /* width: 100vw; */
  height: 100vh;
}
.fade-in {
  opacity: 0;
  transition: opacity 3s;
}

.fade-in.lazyloaded {
  opacity: 1;
}
.bgimg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image2-container img {
  filter: brightness(0.8);
}
